/*
Theme Name: Digital Web Perú
Theme URI: http://www.digitalweb.pe
Author: Dionisio Fonseca Moreyra
Author URI: http://www.digitalweb.pe
Description: Tema Realizado por Digital Web Perú
Version: 3.0.1
License: Derechos Reservador
License URI: http://www.digital.pe
Tags: digitalweb, diseño web lima
*/

/*Estilos Generales y Reset y Responsive Principal*/
a { text-decoration: none }
a:hover { text-decoration: none; }
a:focus { outline: none; text-decoration: none; }
figure { margin: 0; }
body { font-family: 'Roboto', sans-serif; font-size: 14px; margin: 0; background-color: #f0f2f5}
.container:after, .container:before, .row:after, .row:before { content: " "; display: table; }
.container:after, .row:after { clear: both; }
.container { margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; }
* { box-sizing: border-box; }
*:after, *:before { box-sizing: border-box; }
.row { margin-left: -15px; margin-right: -15px; }
.col-md-1 { width: 8.33333%; }.col-md-2 { width: 16.6667%; }.col-md-3 { width: 25%; }.col-md-4 { width: 33.3333%; }.col-md-5 { width: 41.6667%; }.col-md-6 { width: 50%; }.col-md-7 { width: 58.3333%; }.col-md-8 { width: 66.6667%; }.col-md-9 { width: 75%; }.col-md-10 { width: 83.3333%; }.col-md-11 { width: 91.6667%; }.col-md-12 { width: 100%; }
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; min-height: 1px; padding-left: 15px; padding-right: 15px; position: relative; }
.container { width: 1170px; }
/*@media (min-width: 1201px) { .container { width: 1170px; } }
@media (max-width: 1200px) { .container { width: 970px; } }
@media (max-width: 991px) { .container { width: 750px; } }
@media (max-width: 767px) { .container { width: auto; } }
@media (max-width: 320px) { .container, header.main-header { width: 320px; } }*/
@font-face {
    font-family: "Flaticon";
    src: url("fonts/flaticon.eot");
    src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"), url("fonts/flaticon.woff") format("woff"), url("fonts/flaticon.ttf") format("truetype"), url("fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: "Flaticon";
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-add-plus-button:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-back:before { content: "\f102"; }
.flaticon-clear-button:before { content: "\f103"; }
.flaticon-do-not-disturb-rounded-sign:before { content: "\f104"; }
.flaticon-error-404-on-screen:before { content: "\f105"; }
.flaticon-fast-forward-double-right-arrows:before { content: "\f106"; }
.flaticon-gallery:before { content: "\f107"; }
.flaticon-interface:before { content: "\f108"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f109"; }
.flaticon-left-arrow-angle:before { content: "\f10a"; }
.flaticon-left-arrow-key:before { content: "\f10b"; }
.flaticon-line:before { content: "\f10c"; }
.flaticon-link-interface-symbol-of-chain-in-diagonal:before { content: "\f10d"; }
.flaticon-location:before { content: "\f10e"; }
.flaticon-next:before { content: "\f10f"; }
.flaticon-photo-gallery-pixel:before { content: "\f110"; }
.flaticon-play-arrow:before { content: "\f111"; }
.flaticon-rewind-double-arrows-angles:before { content: "\f112"; }
.flaticon-right-arrow-angle:before { content: "\f113"; }
.flaticon-sound:before { content: "\f114"; }
.flaticon-volume-control:before { content: "\f115"; }
.flaticon-waste-bin:before { content: "\f116"; }


.ImgCSS { background-color: #fff; display: block; overflow: hidden; position: relative; }
.ImgCSS:before { font-family: "Flaticon"; color: #004871; content: "\f107"; font-size: 4.5rem; left: 45%; margin-left: -20px; margin-top: -20px; opacity: 0; position: absolute; top: 40%; z-index: 1; }
.ImgCSS:hover::before { animation-duration: 0.3s; animation-fill-mode: both; animation-name: zoomIn; opacity: 1; }
.ImgCSS:hover img { opacity: 0.25; transform: scale(1.3); }
.ImgCSS img { display: block; transition: all 500ms linear 0s; width: 100%; }


.GaleriaCSS:before{content: "\f109";}
@-webkit-keyframes zoomIn { 0% { opacity: 0; -webkit-transform: scale(.3) } 50% { opacity: 1 } }
@-moz-keyframes zoomIn { 0% { opacity: 0; -moz-transform: scale(.3) } 50% { opacity: 1 } }
@-ms-keyframes zoomIn { 0% { opacity: 0; -ms-transform: scale(.3) } 50% { opacity: 1 } }
@-o-keyframes zoomIn { 0% { opacity: 0; -o-transform: scale(.3) } 50% { opacity: 1 } }
@keyframes zoomIn { 0% { opacity: 0; transform: scale(.3) } 50% { opacity: 1 } }


/*Estilos Generales y Reset y Responsive Principal*/
.img-responsive { width: 100%; }
.showonmobile { display: none; }
.boton_principal {
    background-color: #f9cf19;
    border: 1px solid #ddb817;
    border-radius: 5px;
    color: #173753;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

/*Inicio Header*/
header.main-header {
    position: relative;
    background-color: #fff;
    padding-bottom: 15px;
    z-index: 999;
    border-bottom: 5px solid #f0f2f5;
}
/*Fin Header*/

/*Menu Principal*/
#menu-principal {
    float: right;
    list-style-type: none;
    overflow: hidden;
    margin: 13px 0 0 0;
    padding-left: 0;
}

#menu-principal > li > ul {
    display: none;
}

#menu-principal > li {
    float: left;
}

#menu-principal > li > a {
    color: #fff;
    display: block;
    line-height: 25px;
    padding: 10px 15px;
    font: bold 15px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0,0.25);
}

#menu-principal > li:hover > ul {
    display: block;
    position: absolute;
    z-index: 200;
    width: 200px;
}

/*#menu-principal .current-menu-item > a, #menu-principal a:hover, #menu-principal > li > a:hover, #menu-principal > .current-menu-item > a, #menu-principal > .current-page-parent > a {
    color: #d1d1d1;
}*/

#menu-principal > li > .sub-menu {
    list-style-type: none;
    padding: 0
}

#menu-principal > li > .sub-menu li {
    width: 100%;
}

#menu-principal > li > .sub-menu > li a {
    color: #fff;
    display: block;
    padding: 10px;
}

#menu-principal > li > .sub-menu > li a:hover {
    background-color: #666 !important;
}
.sub-menu {
    background-color: #cccccc;
    list-style-type: none;
    padding: 0;
}

.post-content iframe {
    border: 0 none;
    height: 700px;
    width: 100%;
}

.post-content.noticia-home {
    margin-top: 30px;
    overflow: hidden;
}

.page-nav {
    text-align: center;
}


.page-numbers {
    background-color: #ed5565;
    color: #fff;
    display: inline-block;
    margin: 20px -2px 0 -2px;
    padding: 5px 15px;
    border-bottom: 3px solid #da4453
}
.page-numbers.current, .page-numbers:hover {
    background-color: #da4453;
}

.pages-noticias .main-content {
    padding-bottom: 10px !important;
}

.page-nav-2 > *:first-child {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 1px;
}
.page-nav-2 > *:last-child {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 1px;
}


/*Fin Menu Principal*/

/*Menu Movil*/
#triger_menu {
    border-radius: 5px;
    color: #fff;
    display: none;
    position: absolute;
    right: 24px;
    text-align: center;
    top: 15px;
    width: 20px;
}

#triger_menu span {
    border-top: 4px solid #62B32E;
    content: " ";
    display: block;
    height: 8px;
    margin-top: 0;
}

/*Menu Movil*/

.cuadro_enlace::before {
    background: rgba(0, 0, 0, 0) url("images/sprite.png") no-repeat scroll 0px -244px;
    content: "";
    display: block;
    height: 50px;
    margin: 10px auto 30px;
    width: 40px;
}
.cuadro_enlace {
    background-color: #016299;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    height: 200px;
    padding: 30px 10px 0;
    text-align: center;
    width: 185px;
    font-family: "Roboto", sans-serif;
}
.cuadro_enlace:hover {
    background-color: #00b3fa;
}
.main_table {
    width: 100%;
}
.main_table th {
    background-color: #0075b8;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}
.main_table td {
    padding-left: 15px;
}

.main_table {
    border-spacing: initial;
    width: 100%;
    color: #595e64;
    border-collapse: collapse;
}
.main_table .negrita {
    color: #0075b8;
    font-weight: 600;
}
.main_table td a {
    color: #00a2ff;
}
.main_table td, .main_table th {
    border: 1px solid #e3e4e8;
    padding: 5px 15px;
}


/*Inicio Pagina Contacto*/
.pages-contacto h5 {
    color: #2287c1;
    font-size: 13px;
    font-weight: bold;
}
.pages-contacto .ladoTop {
    overflow: hidden;
}
.pages-contacto .info_general {
    float: left;
}
.pages-contacto .logo_ugel {
    float: right;
    margin-right: 30px;
}
.cont_detalle > a {
    border-bottom: 1px dotted;
    color: #00a2ff;
}
.pages .main-imagen{
    display: block;
    max-width: 1000px;
    margin: 15px auto;
}

/*Fin Pagina Contacto*/


/*Inicio Footer*/
footer {
    background-color: #393f48;
    margin-top: 40px;
    color: #fff;
}

footer .footer1 {
    padding-bottom: 15px;
}
footer .footer2 {
    background-color: #2e333a;
    line-height: 32px;
    font-size: 12px;
}
#menu_footer::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
    color: #18649d;
    font-family: "Flaticon";
    content: "\f10b";
    float: right;
    font-size: 9px;
    height: 20px;
    line-height: 20px;
    margin-top: 3px;
    text-align: center;
    width: 20px;
}
#menu_footer {
    border-bottom: 1px solid #18649d;
    border-top: 1px solid #18649d;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 0;
}

#menu-footer {
    border-bottom: 1px solid #18649d;
    display: inline-block;
    list-style-type: none;
    margin-top: 30px;
    overflow: hidden;
    padding: 0 0 10px;
}
#menu-footer > ul {
    list-style-type: none;
    padding: 0;
}
#menu-footer li {
    float: left;
}
#menu-footer li a {
    color: #ffffff;
    font-size: 11px;
    margin-right: 20px;
    text-transform: uppercase;
}
.msg_footer{
    color: rgba(255, 255, 255,0.30);
}
.copyright{
    float: right;
    color: #ffffff;
}
.copyright a{
    color: #ffffff;
}



/*
footer .movil::before {
    font-family: "Flaticon";
    content: "\f114";
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    width: 15px;
}
footer .correo::before {
    font-family: "Flaticon";
    content: "\f117";
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    width: 15px;
}*/

/*Fin Footer*/

/*Estilos para Wordpress*/
.aligncenter {
    display: block;
    margin: auto;
}

.alignright {
    float: right;
}

/************** Inicio Personalizacion para Tema *************/

/*--Inicio home Page--*/
.slider {
    border-top: 5px solid #ededed;
    position: relative;
}
.sombra_top {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
    height: 24px;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 700;
}
.sombra_bottom {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
    bottom: 0;
    height: 24px;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    z-index: 700;
}
/*--Fin home Page--*/

/*--Inicio Breadcrumb--*/
.pages .banner_top {
    background: rgba(0, 0, 0, 0) url("images/trama-header-interna.png") repeat scroll 0 0;
    border-top: 5px solid #ededed;
    position: relative;
}
.pages .banner_top .container {
    position: relative;
}
.pages .banner_top .title {
    color: #fff;
    font-size: 30px;
    margin-top: 33px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
.pages .breadcrumb {
    color: #ffffff;
    margin-bottom: 15px;
 /*   position: absolute;
    right: 15px;
    top: 40px;*/
}
.pages .breadcrumb a {
    color: #0075b8;
}
.pages .breadcrumb {
    color: #393f48;
    font-family: "Roboto", sans-serif;
}
.pages .post-content {
    color: #595e64;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    line-height: 24px;
}
.single-content a {
    color: #0075b8;
}
.single-content a:visited {
    color: #da4453;
}

.pages .main_title {
    color: #0075b8;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 23px;
}
.pages .img-principal {
    margin-bottom: 15px;
}
.pages .menu-lateral {
    background-color: #0075b8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
}

.pages .menu-lateral > .item > a {
    color: #fff;
    display: block;
    font-weight: 300;
    padding: 10px 15px;
    width: 100%;
}

.pages .menu-lateral > .current > a, .pages .menu-lateral > .item:hover > a {
    background-color: #016299;
}



.pages .menu-lateral .item:first-child > a {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pages .menu-lateral .item:last-child > a {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.menu-lateral-hijo {
    list-style-type: none;
    padding: 0;
}
.pages .menu-lateral-hijo > .item > a {
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px 30px;
}
.pages .menu-lateral-hijo > .current > a {
    background-color: #016299;
}
.nocursor{
    cursor: default;
}

/*--Fin Breadcrumb--*/


/*Inicio Páginas Estandar*/
.pages .main-content {
    background-color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    padding-bottom: 50px;
}
.pages .header_top {
    position: relative;
    border-bottom: 1px solid #e3e4e8;
}
.pages .header_top .title {
    color: #0075b8;
    font-family: "Roboto Condensed";
    font-size: 26px;
    margin-bottom: 5px;
}
/*Fin Páginas Estandar*/


/*-- Inicio Nosotros --*/
.page-nosotros .img-nosotros {
    display: block;
    margin: 10px auto;
}
.page-nosotros {
    text-align: justify;
}
/*-- Fin Nosotros --*/


/*Página de Contacto*/
.map_contenedor{
    position: relative;
}
.map {
    width: 100%;
    height: 400px
}

.formulario-contacto p {
    margin-top: 10px !important;
    overflow: hidden;
}
.formulario-contacto .lblcontacto {
    color: #005da4;
    float: left;
    width: 109px;
}
.formulario-contacto .lblcontacto::before {
    font-family: "Flaticon";
    content: "\f100";
    float: left;
    font-size: 8px;
    margin-right: 5px;
    margin-top: 6px;
}
.formulario-contacto .wpcf7-form-control-wrap {
    float: right;
    width: 600px;
}
.formulario-contacto input[type="text"], .formulario-contacto textarea, .formulario-contacto select, .formulario-contacto input[type="email"] {
    background-color: #ffffff;
    border: 1px solid #7e7f84;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px 10px;
    width: 100%;
}
.page-contacto .boton_principal {
    float: right;
    margin-top: 20px;
}
.page-contacto .info_contacto .titulo_info {
    color: #005493;
    font-size: 18px;
    font-weight: 700;
}

.page-contacto .info_contacto > ul {
    list-style-type: none;
    padding: 0;
}
.page-contacto .info_contacto li:first-child {
    padding-top: 0;
}
.page-contacto .info_contacto > ul > li {
    border-bottom: 1px dotted #b0c5d1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.page-contacto .info_contacto .etiqueta {
    color: #005493;
    position: relative;
}
.page-contacto .info_contacto .etiqueta::before {
    font-family: "Flaticon";
    content: "\f100";
    font-size: 8px;
    left: -12px;
    margin-top: 6px;
    position: absolute;
}

.page-contacto .info_contacto .email > a {
    border-bottom: 1px dotted;
    color: #005493;
}

.page-contacto .info_contacto ul > li > div {
    color: #666666;
}

.page-contacto .how_directions, .page-contacto .how_directions:hover, .page-contacto .how_directions:focus {
    background-color: #fff;
    bottom: 20px;
    color: #666666;
    font-size: 16px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 500px;
}

.page-contacto .how_directions i::before {
    font-size: 12px;
    margin-left: 0;
}

/* Inicio Pagina Galeria Individual*/
.page-galeria .galeria-list {
    list-style-type: none;
    padding: 0;
}
.page-galeria .galeria-list > li {
    box-sizing: border-box;
    float: left;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    width: 33.3%;
}

.page-galeria .galeria-list .titulo {
    margin-top: 15px;
}
.page-galeria .galeria-list > li img {
    border: 3px solid #e9eced;
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: auto;
}

.galeria-list figure > a {
    height: 228px;
}

/* Fin Pagina Galeria Individual*/

/*Página de Error*/
.page-404 {
    text-align: center;
    color: #dce2e5;
}
.page-404 i::before {
    font-size: 200px;
}
.page-404 i {
    display: block;
    margin-top: 20px;
}
.page-404 h1 {
    font-size: 100px;
    margin-bottom: 0;
    margin-top: 0;
}
.franja_top{
    background-color: #393f48;
    height: 30px;
    color: #f0f2f5;
    font-size: 11px;
    line-height: 30px;
}
.franja_top a{
    color: #00a2ff;
}
.franja_top .es_link{
    border-bottom: 1px dotted;
    color: #f0f2f5;
}
.franja_top .links_top {
    text-align: right;
}
.franja_top .links_top a{
    color: #f0f2f5;
}

.franja_top .central:before{
    background: url("images/sprite.png") no-repeat -4px -2px;
    content: "";
    float: left;
    height: 12px;
    margin-right: 5px;
    margin-top: 8px;
    width: 12px;
}

.franja_top .correo:before{
    background: url("images/sprite.png") no-repeat -21px -2px;
    content: "";
    float: left;
    height: 9px;
    margin-right: 5px;
    width: 12px;
    margin-left: 10px;
    margin-top: 11px;
}

.franja_top .horario:before{
    background: url("images/sprite.png") no-repeat -37px -2px;
    content: "";
    float: left;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 9px;
}
.franja_top_contenedor > span {
    display: inline-block;
}

.links_top .inicio:before{
    background: url("images/sprite.png") no-repeat -52px -2px;
    content: "";
    float: left;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    margin-top: 1px;

}
.links_top .contacto:before{
    background: url("images/sprite.png") no-repeat -67px -2px;
    content: "";
    float: left;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    margin-top: 1px;

}

.links_top .webmail:before{
    background: url("images/sprite.png") no-repeat -80px -2px;
    content: "";
    float: left;
    height: 9px;
    width: 13px;
    margin-right: 5px;
    margin-top: 3px;

}
.links_top > a{
    display: inline-block;
    font:bold 12px "Roboto Condensed",sans-serif;
    margin-left: 20px;
    text-transform: uppercase;
}
.links_menu .intranet:before{
    background: url("images/sprite.png") no-repeat -3px -20px;
    content: "";
    float: left;
    height: 14px;
    width: 14px;
    margin-right: 5px;
    margin-top: 1px;

}
.links_menu .transparencia:before{
    background: url("images/sprite.png") no-repeat -22px -20px;
    content: "";
    float: left;
    height: 14px;
    width: 14px;
    margin-right: 5px;
    margin-top: 1px;

}
.links_menu > a {
    display: inline-block;
    color: #0075b8;
    font: bold 13px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    margin-right: 25px;
    float: right;
    margin-top: 12px;
}

.fondo_verde{
    background-color: #b6c710;
}
.fondo_verde > .sub-menu > li {
    background-color: #b6c710 !important;
}
.sub-menu > li > a {
    border-bottom: 1px dotted;
    margin: 0 15px;
}


.fondo_rojo > .sub-menu > li > a {
    font-weight: bold;
    font-size: 18px;
}

.fondo_rojo{
    background-color: #da4453;
}
.fondo_rojo > .sub-menu > li  {
    background-color: #da4453 !important;
}
.fondo_rojo > .sub-menu {
    background-color: #da4453 !important;
}
.fondo_morado{
    background-color: #3e4095;
}
.fondo_morado > .sub-menu {
    background-color: #3e4095 !important;
}
.fondo_azul{
    background-color: #0075b8;
}
#menu-principal > li:first-child {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#menu-principal > li:last-child {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#searchform {
    float: right;
}
#searchform .txtBuscar {
    background-color: #f0f2f5;
    border: medium none;
    box-shadow: -1px -1px 0 #ccced0;
    height: 38px;
    padding-left: 10px;
    padding-right: 35px;
    width: 190px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#searchform .buscar_icon {
    background: rgba(0, 0, 0, 0) url("images/sprite.png") no-repeat scroll -97px -2px;
    height: 16px;
    position: absolute;
    right: 25px;
    top: 10px;
    width: 16px;
}
.header_principal{
    margin-top: 20px;
}
.dLogo {
    margin-top: 15px;
}

.img_flotante {
    position: fixed;
    top: 50%;
    z-index: 999;
}

address > div {
    margin-top: 5px;
    position: relative;
    padding-left: 7px;
}

address .direccion:before{
    background: url("images/sprite.png") no-repeat -4px -39px;
    content: "";
    position: absolute;
    height: 13px;
    width: 9px;
    left: -15px;
    top: 2px;
}

address .central:before{
    background: url("images/sprite.png") no-repeat -21px -39px;
    content: "";
    position: absolute;
    height: 12px;
    left: -15px;
    width: 12px;
    top: 2px;
}

address .correo:before{
    background: url("images/sprite.png") no-repeat -39px -39px;
    content: "";
    position: absolute;
    height: 9px;
    width: 12px;
    left: -15px;
    top: 5px;
}

footer .logo_footer {
    float: left;
}

address .correo > a {
    color: #00a2ff;
}
footer h3 {
    font-size: 13px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
address {
    font-style: normal;
    float: left;
    margin-left: 25px;
}
address a {
    color: #fff;
    border-bottom: 1px dotted;
}
footer .info_footer {
    float: left;
    margin-left: 35px;
}
footer .FooterA {
    margin-top: 30px;
    margin-bottom: 25px;
    overflow: hidden;
}

footer .FooterB {
    margin-top: 45px;
}
footer .FooterB > span, footer .FooterC > span {
    color: rgba(255,255,255,0.3);
}
footer .FooterB .libro_reclamacion:before{
    background: url("images/sprite.png") no-repeat 0px -59px;
    content: "";
    float: left;
    height: 57px;
    width: 183px;
    margin-top: 15px;
}

.redes_sociales .facebook{
    background: url("images/sprite.png") no-repeat 0px -122px;
    content: "";
    float: left;
    width: 56px;
    height: 56px;
}
.redes_sociales .twitter{
    background: url("images/sprite.png") no-repeat -56px -122px;
    content: "";
    float: left;
    width: 56px;
    height: 56px;
}
.redes_sociales .youtube{
    background: url("images/sprite.png") no-repeat -112px -122px;
    content: "";
    float: left;
    width: 56px;
    height: 56px;
}

.redes_sociales {
    margin-top: 15px;
    margin-bottom: 10px;
}
.FooterC > span {
    margin-top: 5px;
}

footer .FooterC > * {
    float: right;
}
footer .redes_sociales > a {
    margin-left: 5px;
}
footer .FooterC .primero {
    margin-top: 40px;
}

.noticias, aside{
    background-color: #fff;
    border: 1px solid #e3e4e8;
    border-bottom: 5px solid #e3e4e8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
}

aside{
    padding: 15px;
}

.lista_noticias > li {
    border-bottom: 1px solid #e3e4e8;
    float: left;
    margin-top: 45px;
    padding-bottom: 45px;
    width: 100%;
}

.lista_noticias > li:first-child {
    margin-top: 20px;
}
.lista_noticias {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.header_ugel {
    overflow: hidden;
    border-bottom: 1px solid #e3e4e8;
}
.page-titulo {
    color: #0075b8;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 26px;
    float: left;
    margin-bottom: 15px;
    margin-top: 10px;
}


.ver_todas {
    background-color: #0075b8;
    color: #fff;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0,0.25);
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: right;

}
.noticia-home .fecha:before{
    background: url("images/sprite.png") no-repeat 0 -183px;
    content: "";
    float: left;
    width: 17px;
    height: 15px;
    margin-right: 5px;
    margin-top: 5px;
}
.homepage .noticia-home .fecha::before {
     margin-top: 2px;
 }

.more-link {
    display: inline-block;
}
.more-link > span,.noticia-home .fecha {
    color: #ed5565;
}
.noticia-home .mas:before{
    background: url("images/sprite.png") no-repeat -22px -183px;
    content: "";
    width: 6px;
    float: right;
    height: 9px;
    margin-left: 5px;
    margin-top: 8px;
}
.homepage .noticia-home .mas::before {
    margin-top: 5px;
}

.nTitulo > a {
    color: #0075b8;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 16px;
    height: 0;
}

.ir_grupo {
    color: #0075b8;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 13px;
}

.ai1ec-cost {
    display: none;
}

.noticia-home .fecha{
    margin-top: 5px;
}
.noticia-home .dContent {
    margin-top: 15px;
    color: #595e64;
}

.banners-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.homepage{
    margin-top: 20px;
}
.homepage .ladoB {
    padding-left: 0;
}
.homepage .ladoA {
    padding-right: 15px;
}
.banner-single > img {
    margin: auto;
    display: block;
}
.banners-list > .banner-single  img {
    border-bottom: 3px solid #e3e4e8;
    margin-bottom: 17px;
}

.galeria_multimedia {
    background-color: #ffdf00;
    border: 1px solid rgb(255, 255, 255);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    font-weight: 900;
    height: 100px;
    border-bottom: 3px solid #e3e4e8;
    margin-bottom: 17px;
}


.galeria_multimedia .titulo {
    color: #016299;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.recursos_iiee{
    background-color: #db4453;
}
.recursos_iiee .titulo {
    color: #fff;
    margin-top: 5px;
    font-size: 15px;
}
.imagen_quick {
    font-size: 12px;
    width: 50%;
    float: left;
    color: #FFffff;
    text-align: center;
}
.imagen_quick > img {
    display: block;
    margin: auto;
}
.imagen_quick:hover{
    opacity: 0.8;
}

.galeria_multimedia a, .galeria_multimedia a {
    color: #393f48;
}
.galeria_multimedia .ico_fotos::before {
    background: rgba(0, 0, 0, 0) url("images/sprite.png") no-repeat scroll 0px -201px;
    content: "";
    float: left;
    height: 40px;
    margin-right: 7px;
    width: 40px;
}

.galeria_multimedia .ico_videos::before {
    background: rgba(0, 0, 0, 0) url("images/sprite.png") no-repeat scroll -42px -201px;
    content: "";
    float: left;
    height: 42px;
    margin-right: 7px;
    width: 42px;
}
.galeria_multimedia .ico_videos {
    width: 48%;
}
.galeria_multimedia .ico_fotos {
    width: 43%;
}
.galeria_multimedia .ico_fotos, .galeria_multimedia .ico_videos {
    float: left;
    line-height: 40px;
    margin-left: 10px;
}

.galeria_multimedia .ico_videos:hover::before {
    background-position: -128px -201px;
}

.galeria_multimedia .ico_fotos:hover::before {
    background-position: -86px -201px;
}


.contenido > ol > li, .contenido > ul > li {
    margin-top: 30px;
    padding-left: 15px;
}
.galeria > li {
    float: left;
    list-style-type: none;
}

.controles {
    clear: both;
    margin-top: 30px;
    text-align: center;
}

.page-numbers, .controles > a {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

.controles > a {
    background-color: #ed5565;
    border: 1px solid #ed5565;
}




#dCarruselGrupo1,#dCarruselGrupo2 {
    padding: 15px 15px 0 15px;
    background-color: #fff;
    margin-top: 15px;
    border: 1px solid #e3e4e8;
    border-bottom: 5px solid #e3e4e8;
}

#dCarruselGrupo2 {
    padding: 15px 10px;
}


#dCarruselGrupo2 .owl-item img {
    margin: auto;
    width: auto;
    margin: 15px auto auto;
}
#dCarruselGrupo1 .owl-item img {
    width: auto;
    margin: auto;
}
.aTitulo {
    background-color: #da4453;
    color: #fff;
    font: bold 22px "Roboto Condensed",sans-serif;
    padding: 3px 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

/*
#dCarruselAvisos .owl-prev:before{
    font-family: "Flaticon"; color: #004871; content: "\f10b"; font-size: 4.5rem; left: 45%; margin-left: -20px; margin-top: -20px; opacity: 0; position: absolute; top: 40%; z-index: 1;
}
*/


.fondo_rojo > .sub-menu {
    left: -430px;
    width: 1000px !important;
}
.fondo_rojo > .sub-menu li {
    display: inline-block;
    width: 250px !important;
    float: left;
}

.tabla_ugel01 {
    margin-bottom: 50px;
}
.tabla_anexos{
    margin-top: 50px;
}
.tabla_anexos .tipo_cas {
    display: block;
}

.tabla_ugel01 th {
    background-color: #0075b8;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
}
.tabla_ugel01 tr:nth-child(2n) {
    background-color: #f9efef;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 100%;
}
.tabla_ugel01{
    width: 80%;
}


.tipo_doc:before ,.tipo_noicon:before ,.tipo_pdf:before ,.tipo_rar:before ,.tipo_xls:before ,.tipo_zip:before, .tipo_html:before {
    background: rgba(0, 0, 0, 0) url("images/noicon.png") repeat scroll 0 0;
    content: "";
    display: block;
    float: left;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    width: 40px;
}

.tipo_doc:before {
    background: rgba(0, 0, 0, 0) url("images/doc.png") repeat scroll 0 0;
}
.tipo_pdf:before{
    background: rgba(0, 0, 0, 0) url("images/pdf.png") repeat scroll 0 0;
}
.tipo_rar:before{
    background: rgba(0, 0, 0, 0) url("images/rar.png") repeat scroll 0 0;
}
.tipo_xls:before{
    background: rgba(0, 0, 0, 0) url("images/xls.png") repeat scroll 0 0;
}
.tipo_zip:before {
     background: rgba(0, 0, 0, 0) url("images/zip.png") repeat scroll 0 0;
 }
.tipo_html:before {
    background: rgba(0, 0, 0, 0) url("images/html.png") repeat scroll 0 0;
}

.tipo_cas {
    color: #0075b8;
    line-height: 40px;
}
.proceso_cas{
    width: 100%;
}
.proceso_cas .tipo_cas {
    display: inline-block;
}

.proceso_cas .td_centrado{
    text-align: center;
}
.proceso_cas .tipo_cas::before {
    margin: 0;
}

.galeria {
    overflow: hidden;
}
.galeria > li {
    float: left;
    list-style-type: none;
}
.galeria .imagen {
/*    height: 200px;*/
    margin-top: 30px;
}
.item_galeria .imagen img {
/*    height: 194px;*/
    margin: auto;
}

.item_galeria .nTitulo {
    margin-top: 25px;
}
.item_galeria .nTitulo, .item_galeria .dContent {
    text-align: center;
}

.item_galeria .dContent {
    height: 60px;
    overflow: hidden;
}
.item_galeria .nTitulo, .item_galeria .dContent {
    text-align: center;
}

.dImg:hover::before{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: dImg;
    opacity: 1;
}
.dImg.video::before {
    content: "\f111";
}

.item_galeria .dImg:hover img {
    opacity: 0.5;
}

.dImg::before{
    color: #fff;
    content: "\f110";
    font: 60px "Flaticon";
    position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    opacity: 0;
    top: 33%;
    z-index: 1;
}
.dImg img{ width: 100%; -webkit-transition: all 500ms linear; -moz-transition: all 500ms linear; -o-transition: all 500ms linear; -ms-transition: all 500ms linear; transition: all 500ms linear; }
.dImg{ background-color: #ffc500; display: block; overflow: hidden; }
.dImg:hover img{ opacity: 0.25; -moz-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); }
.dImg:hover:before, .gallery-item:hover .gallery-icon a:before{
    opacity: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: dImg;
    animation-name: dImg; }
@-webkit-keyframes dImg {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes dImg {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}



.tipo_archivo {
    line-height: 40px;
}

.tipo_proceso .bloque {
    background-color: #c3c4cb;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    height: 100px;
    margin-top: 8px;
    padding: 10px;
    text-align: center;
    width: 110px;
}

table td {
    padding: 10px;
}


/************** Fin Personalizacion para Tema *************/
@media (max-width: 767px) {
    .showonmobile {
        display: block;
    }

    #menu-principal > li {
        float: none;
        border-bottom: 1px solid #ccc;
    }
    #menu-principal > li a {
        line-height: inherit;
        padding: 5px;
    }
    #menu-footer {
        padding: 0 0 10px;
        margin: 0;
        width: 100%;
    }
    #menu_footer {
        margin-bottom: 5px;
    }
    #menu-footer li {
        float: none;
    }
    #menu-footer li a {
        border-bottom: 1px solid #bcbcbc;
        display: block;
        padding: 5px 0;
        width: 100%;
    }
    .showmenos::after {
        content: "\f105" !important;
    }
    .movil100{
        width: 100%;
    }
    footer .ladoB, footer .ladoB a{
        text-align: center;
    }

    .main-header > .container {
        padding: 0;
    }
}



/***************************************/
.general .titulo {
    background-color: #00b3fa;
}

.fcontainer .fright sup {
    color: #f00;
    font-size: 15px;
    top: 0;
}

.fcontainer {
    height: auto;
    overflow: hidden;
}

.fleft {
    float: none;
    width: auto;
    overflow: hidden;
}

.fright {
    width: 240px;
    float: left;
    margin-top: 10px;
}

.cont_enviar {
    text-align: left;
}

.cont_vacio {
    visibility: hidden;
}

.cont_info {
    font-family: "Asap",sans-serif;
    clear: both;
    font-size: 15px;
}

.cont_info .cont_titulo {
    display: block;
    float: left;
    font-weight: 600;
    width: 175px;
}
.espacio {
    height: 30px;
}

.marco {
    border: 1px solid rgb(230, 230, 230);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding: 5px;
}
#mapaugel {
    height: 300px;
    width: 100%;
}

.cont_info .cont_detalle {
    float: left;
}

.cont_info .cont_titulo::after {
    content: ":";
    float: right;
    margin-right: 15px;
}

.frmContacto {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    clear: both;
    margin-bottom: 30px;
    margin-top: 60px;
    padding-bottom: 40px;
    padding-top: 25px;
}

.sub_marco {
    padding: 0 25px;
    position: relative;
}

.sub_marco h5::before {
    content: "\f111";
    font: 10px "FontAwesome";
    left: 10px;
    position: absolute;
    margin-top: 5px;
}

.wpcf7-submit {
    font-family: "Raleway", sans-serif;
    background-color: #0075b8;
    border: medium none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-size: 13px;
    padding: 10px 20px;
}

.wpcf7-submit:hover{
    background-color: #016299;
}

.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap textarea, .wpcf7-form-control-wrap select {
    width: 100%;
    border: 1px solid #e1e0e0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

/**************************************/
.doc_listado {
    list-style-type: none;
    padding: 0;
}
.doc_listado > li {
    margin-bottom: 15px;
    overflow: hidden;
}
.cDescarga {
    text-align: right;
}

.doc-download {
    background-color: #0075b8;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
}
.doc-download:hover {
    background-color: #016299;
    color: rgb(255, 255, 255);
}
.vFixed {
    left: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    width: 100%;
}
.to_menu{
    height: 155px;
}
.customize-support #block_top_menu {
    top: 32px;
}

.tipo_anuncio {
    list-style-type: none;
    padding: 0;
}

.tipo_anuncio > li {
    margin-top: 10px;
}
.tipo_cas .flaticon-clear-button::before {
    color: #f00;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}
.lista_ciudadano {
    list-style-type: none;
    padding: 0;
}
.cuerpo_ciudadano > ul {
    list-style-type: none;
    padding: 0;
}

.item-ciudadano .titulo {
    background-color: #0075b8;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}
.table_ciudadano td {
    vertical-align: top;
}
.contenido_servicio {
    padding-top: 15px;
}
.table_ciudadano .imagen_td
{
    width: 150px ;
}
.titulo_servicio {
    color: #0075b8;
    font-size: 18px;
    margin: 0 15px 15px 0;
}

.tipo_cas.tipo_pdf.doclink {
    font-size: 0;
}
.btn-enlace_externo {
    background-color: #0075b8;
    border: medium none;
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
}
.wp-video {
    margin: 20px auto auto;
}
.owl-prev, .owl-next {
    background:  url("images/flechas.png") no-repeat scroll 0 0;
    height: 40px;
    position: absolute;
    top: 33%;
    width: 40px;
}
.owl-prev {
    left: -20px;
}
.owl-prev:hover {
    background-position: 0 -40px;
}
.owl-next {
    right: -20px;
    background-position: -40px 0px;
}
.owl-next:hover {
    background-position: -40px -40px;
}
.centrado {
    text-align: center;
}
.nomargin_bottom{
    margin-bottom: 0;
}
.nomargin_top{
    margin-top: 0;
}